#title {
  color: aliceblue;
  font-style: inherit;
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
}

#registerText {
  color: azure;
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
}

.started {
  color: rgb(254, 254, 254);
}

h4 {
  color: blanchedalmond;
  font: bolder;
  text-align: center;
}

.txt {
  color: aliceblue;
  font-style: inherit;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
}

.btn-group {
  margin-bottom: 20px;
}

.btn-bot {
  width: 100%; 
  max-width: 200px; 
}